<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JAC - Peças Anteriores </title>
    <link rel="stylesheet" href="/stylesheets/pecasanteriores.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>

<body>


    <div class="container">
        <a href="/pecasanteriores"> <h1> 2022 </h1> </a>
        <p class="linha"> </p>
          <a href="/pecasanteriores/assistematico" class="peca"> Assistemático </a>
          <a href="/pecasanteriores" class="peca"> Quem são Eles? </a>
          <a href="/pecasanteriores" class="peca"> 2 + 2 = 5 </a>
          <a href="/pecasanteriores" class="peca"> Megera Indomável </a>
          <a href="/pecasanteriores" class="peca"> Contágio da Mentira </a>
          <a href="/pecasanteriores" class="peca"> Sertões da Seca </a>
          <a href="/pecasanteriores" class="peca"> A Última Parada </a>
          <a href="/pecasanteriores" class="peca"> Assum Preto </a>
        
    </div>

    <header>
        <a href="/"> <img src="/images/retorno.png" id="casa"> </a>
        <p id="boas-vindas" class="itemMenu"> Olá! Venha saber mais sobre as peças clicando no menu da esquerda! </p>
    </header>

    <script src="/javascripts/boasvindas.js">  </script>

