<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JAC - Peças Anteriores </title>
    <link rel="stylesheet" href="/stylesheets/pecasanteriores.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>

<body>


    <div class="container">
        <a href="/pecasanteriores"> <h1> 2023 </h1> </a>
        <p class="linha"> </p>
          <a class="peca" href="/pecasanteriores/amortedovaqueiro"> A Morte do Vaqueiro </a>
          <a class="peca" href="/pecasanteriores/alemdacriacao"> Além da Criação </a>
          <a class="peca" href="/pecasanteriores/amortesalva"> Amorte salva </a>
          <a href="/pecasanteriores/avioesdepapel" class="peca"> Aviões de Papel </a>
          <a class="peca" href="/pecasanteriores/deixaeupintaromeunariz"> Deixa Eu Pintar o Meu Nariz </a>
          <a class="peca" href="/pecasanteriores/entrevindas"> Entrevindas </a>
          <a class="peca" href="/pecasanteriores/imperfeitos"> Imperfeitos </a>
          <a class="peca" href="/pecasanteriores/lindasdemorrer"> Lindas de Morrer! </a>
          <a class="peca" href="/pecasanteriores/odiario"> O Diário </a>
          <a class="peca" href="/pecasanteriores/oprisioneirodaeternidade"> O Prisioneiro da Eternidade </a>
          <a class="peca" href="/pecasanteriores/raizesdaignorancia"> Raízes da Ignorância </a>
          <a class="peca" href="/pecasanteriores/sina"> Sina </a>   
    </div>

    <header>
        <a href="/"> <img src="/images/retorno.png" id="casa"> </a>
        <p id="boas-vindas" class="itemMenu"> Olá! Venha saber mais sobre as peças clicando no menu da esquerda! </p>
    </header>
    
    <script src="/javascripts/boasvindas.js">  </script>

