<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JAC - Peças Anteriores </title>
    <link rel="stylesheet" href="/stylesheets/pecasanteriores.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>

<body>


    <div class="container">
        <a href="/pecasanteriores"> <h1> 2022 </h1> </a>
        <p class="linha"> </p>
          <a href="/pecasanteriores/doismaisdois" class="peca"> 2 + 2 = 5 </a>
          <a href="/pecasanteriores/aforcaoperaria" class="peca"> A Força Operária </a>
          <a href="/pecasanteriores/asombraeeu" class="peca"> A Sombra e Eu </a>
          <a href="/pecasanteriores/aultimaparada" class="peca"> A Última Parada </a>
          <a href="/pecasanteriores/assistematico" class="peca"> Assistemático </a>
          <a href="/pecasanteriores/assumpreto" class="peca"> Assum Preto </a>
          <a href="/pecasanteriores/a-tencao" class="peca"> A-tenção </a>
          <a href="/pecasanteriores/coralice" class="peca"> Coralice </a>
          <a href="/pecasanteriores/curraisdaseca" class="peca"> Currais da Seca </a>
          <a href="/pecasanteriores/megeraindomavel" class="peca"> Megera Indomável </a>
          <a href="/pecasanteriores/ocontagiodamentira" class="peca"> O Contágio da Mentira </a>
          <a href="/pecasanteriores/quemsaoeles" class="peca"> Quem são Eles? </a>
          <a href="/pecasanteriores/sobrevivendodemigalhas" class="peca"> Sobrevivendo de Migalhas </a>
    </div>

    <header>
        <a href="/"> <img src="/images/retorno.png" id="casa"> </a>
        <p id="boas-vindas" class="itemMenu"> Olá! Venha saber mais sobre as peças clicando no menu da esquerda! </p>
    </header>

    <script src="/javascripts/boasvindas.js">  </script>
