<%- include('./partials/headerPeca') %>

  <p class="titulo"> Amorte salva </p>

    <a href="https://youtu.be/ldQY2LdyHhQ?si=hq81zyMkrDcPYWJc"> <img class="pecaimagem" src="/images/amortesalva.jpeg"> </a>
    
    <p class="sinopse"> 
        ⠀⠀Cleópatra e Marco Antônio, Rei Pedro e Inês de Castro, Ana Bolena e Henrique VIII.
        Todos foram jogadores do Amor e da Morte. Eles escolhem suas peças, jogam os peões e
        influenciam seus jogadores em uma disputa com a Morte ganhando sempre. Mas pode haver
        um casal cujo Amor realmente mude esse jogo? Amor lutará para manter essas duas unidas,
        ao passo que Morte não poupará esforços para conseguir seus objetivos.
    </p>
    

    <table>

        <tr>
          <th> Personagem </th>
          <th> Ator/Atriz</th>
        </tr>

        <tr>
          <td> Morte </td>
          <td> Ana Lívia Rangel </td>
        </tr>

        <tr>
          <td>Amor</td>
          <td>Maria Eduarda Carneiro</td>
        </tr>

        <tr>
            <td>Helena</td>
            <td>Ana Rebeca Bastos</td>
        </tr>

        <tr>
            <td>Antonella</td>
            <td>Thalia do Vale</td>
        </tr>

        <tr>
            <td>Mãe da Helena</td>
            <td>Leyssa Souza Medeiros</td>
        </tr>

        <tr>
            <td>Pai da Helena</td>
            <td>Mariana Uchôa</td>
        </tr>

        <tr>
            <td>Avó da Antonella</td>
            <td>Maria Clara Moraes Beserra </td>
        </tr>

        <tr>
            <td>Cleópatra</td>
            <td>Pamela Cristina</td>
        </tr>

        <tr>
            <td>Inês de Castro</td>
            <td>Rebeca Mansueto</td>
        </tr>

        <tr>
            <td>Soldado 1; Carrasco</td>
            <td>Eduardo Costa</td>
        </tr>

        <tr>
            <td>Soldado 2; Henrique VII</td>
            <td>Matheus Vieira</td>
        </tr>

        <tr>
            <td>Ana Bolena</td>
            <td>Luiza Maria Ribeiro</td>
        </tr>

        <tr>
            <td>Figurante 1</td>
            <td>Maria Clara da Silva</td>
        </tr>

        <tr>
            <td>Rei Pedro; Figurante 2</td>
            <td>Cauan Lucas</td>
        </tr>

        <tr>
            <td>Figurante 3</td>
            <td>Maria Flor Guerra</td>
        </tr>

        <tr>
            <td> Figurante 4 </td>
            <td>Yuri Siqueira Marco Antônio</td>
        </tr>

      </table>
      
  </body>

  </html>