<%- include('./partials/headerPeca2022') %>

<p  class="titulo"> Assistemático </p>

  <a href="https://www.youtube.com/watch?v=oy0Gieqn520" title="Clique aqui para ver a peça"> <img class="pecaimagem" src="/images/assistematico.jpg"> </a>

  <a href="https://photos.app.goo.gl/9yzsgLJs8yrVZXi96" title="Clique aqui para ver as imagens da peça"> <img class="fotospeca" src="/images/camera.png"> </a>

  <p class="sinopse"> 
      ⠀⠀Com o avanço da tecnologia, a sociedade adquiriu um novo cenário: robôs e humanos vivem no mesmo meio. No entanto, o que era para ser uma relação de submissão acaba entrando em discussão quando o Robô Q2 adquire consciência e uma mente biologicamente similar a de um humano. Junto de seus amigos artistas, ele tenta se descobrir atraves das artes, como a música, a pintura, o teatro e a literatura, e compartilhar os seus sentimentos e aprendizados.
  </p>

  <div class="pecaInfo"> 
    <p> <b> Turma: </b> P2 de Informática </p>
    <p> <b> Diretor de Turma: </b> Anderson Maia Santos </p>
    <p> <b> Direção Geral: </b>  Leonardo Ramos </p>
    <p> <b> Prêmios/ Colocação: </b> 9º Lugar - Melhor Peça </p>
  </div>

  <table>

      <tr>
        <th> Personagem </th>
        <th> Ator/Atriz</th>
      </tr>

      <tr>
        <td> Robô Q2 </td>
        <td> Pedro Henrique Lopes Sá de Farias </td>
      </tr>

      <tr>
        <td> Marinete </td>
        <td> Sure Rocha Bezerra </td>
      </tr>

      <tr>
          <td> Josebyzon </td>
          <td> Gabriel Ferreira </td>
      </tr>

      <tr>
          <td> Robô Q1 </td>
          <td> Francisco Wladison Maciel de Oliveira </td>
      </tr>

      <tr>
          <td> Operário </td>
          <td> João Pedro Lopes Machado </td>
      </tr>

      <tr>
          <td> Técnica </td>
          <td> Denise Ferreira de Abreu </td>
      </tr>

      <tr>
          <td> Servente de Café/Quadro Vivo </td>
          <td> Camila Brauna Tavares </td>
      </tr>

      <tr>
          <td> Robô Figurante </td>
          <td> Maria Eduarda Bezerra Silva</td>
      </tr>

      <tr>
          <td> Escritor/Oswaldo </td>
          <td> Enzo Giuliano Machado Vilar </td>
      </tr>

      <tr>
          <td> Pintora/Sophia </td>
          <td> Sophia Araújo Ferreira Moura </td>
      </tr>

      <tr>
          <td> Músico/Caju </td>
          <td> Mario Soares Neo </td>
      </tr>

      <tr>
          <td> Ator Figurante </td>
          <td> Allan Martins Gadelha </td>
      </tr>

      <tr>
          <td> Atriz Figurante </td>
          <td> Thalita Suzy Rodrigues Sampaio </td>
      </tr>

      <tr>
          <td> Pessoa da Plateia 1 </td>
          <td> Antonio Abner Soares Jeronimo </td>
      </tr>

      <tr>
          <td> Pessoa da Plateia 2 </td>
          <td> Libia Caniceiro da Silveira </td>
      </tr>

      <tr>
          <td> Pessoa da Plateia 3 </td>
          <td> Julia Maria Freitas Bezerra </td>
      </tr>

      <tr>
          <td> Guarda </td>
          <td> Matheus Sousa de Carvalho </td>
      </tr>

      <tr>
          <td> Delegado </td>
          <td> Pedro Farley da Silveira Junior </td>
      </tr>

      <tr>
          <td> Figurante </td>
          <td> Leticia Vitória Pereira Gomes </td>
      </tr>


    </table>

    <style>
        .avMedia{bottom:-205vh;}
        button{bottom: -188vh;}
        input{bottom: -190vh;}
    </style>


    <div class="avMedia"> 
      <p id="resultadoMedia"> </p>
      <p class="linha2"> Avaliação Média </p>
    </div>

    <form id="notaForm">
      <input id="notaPeca" type="number" placeholder="Dê a sua nota"  min="0" max="10" step="0.1" required>
      <button type="submit">ENVIAR</button>
    </form>    
  
    <script>
        const tituloPeca = "assistemático";
    </script>

  <script src="/javascripts/notasbd.js"></script>
</body>

</html>