<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAC - Cadastro </title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>
<body>


    <div class="container">

        <h2> CADASTRO </h2>
         
        <form id="cadastro" action="/register" method="post">
            <input type="text" name="username" placeholder="Nome de Usuário" required>
            <input type="text" name="matricula" placeholder="Matrícula" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="password" name="confirmPassword" placeholder="Confirmar Senha" required>
            <a href="/"> <button type="submit" id="CadButton"> <p> CADASTRAR </p> </button> </a>
        </form>

  </div>
</body>
</html>