<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAC - Cadastro </title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>
<body>


    <div class="container">

        <h2> CADASTRO </h2>
         
        <form id="login">
            <input type="text" placeholder="Nome de Usuário">
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Confirmar Senha">
        </form>

        <a href="/"> <button id="CadButton"> <p> CADASTRAR </p> </button> </a>

  </div>
</body>
</html>