<%- include('./partials/headerPeca2022') %>

<p class="titulo"> O Contágio da Mentira </p>

  <a href="https://www.youtube.com/watch?v=AMzbpJGelJ8" title="Clique aqui para ver a peça"> <img class="pecaimagem" src="/images/contagiomentira.jpg"> </a>

  <a href="https://photos.google.com/share/AF1QipM2qUc6sUTyq4onFpZPaU6mY4MaLUEWrobSD4bfbcHe81XPjYebU5Ni8M1aTe7qnQ?key=akpCX2E0YWg2RFlidU5zWDRFdzhvZkt0NHlQTm9B" title="Clique aqui para ver as imagens da peça"> <img class="fotospeca" src="/images/camera.png"> </a>

  <p class="sinopse"> 
      ⠀⠀O contágio da mentira retrata o período da chegada da COVID-19 no Brasil, fazendo um recorte sobre como a classe artística se reinventou para permanecer viva e não sucumbir na pandemia. A presença do violino é o oxigênio que mantém a cena viva, dizendo que a arte continua respirando mesmo em tempos sombrios.
  </p>

  <div class="pecaInfo"> 
    <p> <b> Turma: </b> P2 de Telecomunicações </p>
    <p> <b> Diretor de Turma: </b> Ana Isabella Oliveira de Lacerda e Francisco Riquelmy da Silva Nascimento </p>
    <p> <b> Direção Geral: </b>  Juliana Maria Teixiera Nunes </p>
    <p> <b> Prêmios/ Colocação: </b> 4º Lugar - Melhor Peça </p>
  </div>

  <table>

      <tr>
        <th> Personagem </th>
        <th> Ator/Atriz</th>
      </tr>

      <tr>
        <td>Mateus (Professor de música)</td>
        <td>Vandenilson Araújo dos Santos</td>
    </tr>
    <tr>
        <td>Patrão</td>
        <td>Caio Benazi Gouvêa</td>
    </tr>
    <tr>
        <td>Marionete 1 (Catrina)</td>
        <td>Maria Clara Silva Gomes</td>
    </tr>
    <tr>
        <td>Marionete 2 (Betina)</td>
        <td>Clara Valéria Carvalho Rocha</td>
    </tr>
    <tr>
        <td>Marionete 3 (Janina)</td>
        <td>Ketlen Suelen Soares do Nascimento</td>
    </tr>
    <tr>
        <td>Aluno da escola de música 1</td>
        <td>Ronaldy de Souza Lima</td>
    </tr>
    <tr>
        <td>Aluno da escola de música 2</td>
        <td>Maria Renata de Sousa da Silva</td>
    </tr>
    <tr>
        <td>Aluno da escola de música 3</td>
        <td>Rita da Silva Fernandes</td>
    </tr>
    <tr>
        <td>Médico</td>
        <td>Francisco Riquelmy da Silva Nascimento</td>
    </tr>
    <tr>
        <td>Médica</td>
        <td>Letícia Maria Mesquita dos Santos</td>
    </tr>

    </table>

    <style>
        .avMedia{bottom:-135vh;}
        button{bottom: -118vh;}
        input{bottom: -120vh;}
    </style>


    <div class="avMedia"> 
      <p id="resultadoMedia"> </p>
      <p class="linha2"> Avaliação Média </p>
    </div>

    <form id="notaForm">
      <input id="notaPeca" type="number" placeholder="Dê a sua nota" min="0" max="10" step="0.1">
      <button type="submit">ENVIAR</button>
    </form>
    
    <script>
      const tituloPeca = "contágio da mentira";
    </script>

    <script src="/javascripts/notasbd.js"> </script>
    
</body>

</html>