<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JAC </title>
    <link rel="stylesheet" href="/stylesheets/evento.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>
<body>


    <h1>
        SOBRE O EVENTO
    </h1>

    <div class="container">
        <p> A Mostra Interdisciplinar de Juventude, Arte e Ciência nasce a partir de experiências vivenciadas pelas professoras Cristianne Bezerra, Dora Gadelha e Fabiana Lima. Neste grande evento anual, turmas do técnico integrado são desafiadas a apresentarem peças no auditório superior do IFCE - Campus Fortaleza, atual Nilo Peçanha. Além disso, essas peças devem abordar temas que os alunos viram nas diversas matérias, recebendo ajuda de professores orientadores para averiguar a aplicação do tema. É um evento com mais de 10 anos, aberto para que alunos de outras escolas assistam, e com resultados mostrados incríveis; há muita emoção que esses meninos conseguem trazer à tona nessas peças.  </p>
    </div>


</body>
</html>