<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JAC </title>
    <link rel="stylesheet" href="/stylesheets/inicio.css">
    <link rel="shortcut icon" type="imagex/png" href="/images/iconJac.ico">
</head>
<body>

    <div class='tela'>
    
    <header>
        <a class="itemMenu" href="/pecasanteriores"> PEÇAS ANTERIORES </a>
        <a class="itemMenu" href="/login"> FAÇA SEU LOGIN </a>
    </header>

    
    <h1>
        Bem-vindo ao site da JAC!
    </h1>

    <img src="/images/LOGO JAC.png">

    <p> Caro visitante, esse site foi feito com a finalidade de guardar memórias das incríveis peças realizadas por turmas anteriores. Para isso, acesse a barra de menu na parte superior.</p>
        </div>
        

</body>
</html>