<%- include('./partials/headerPeca') %>

  <p class="titulo"> Lindas de Morrer! </p>

    <a href="https://www.youtube.com/watch?v=SPPwDvc0TtI" title="Clique aqui para ver a peça"> <img class="pecaimagem" src="/images/lindasdemorrer.jpeg"> </a>

    <a href="https://photos.app.goo.gl/3jSxkeG1xf4kzsxQ7" title="Clique aqui para ver as imagens da peça"> <img class="fotospeca" src="/images/camera.png"> </a>
    
    <p class="sinopse"> 
        ⠀⠀Beleza, fama, poder! Num mundo em que essas três coisas regram a
        sociedade, durante o esperado desfile anual da grande empresa de modelos ‘‘Flor
        de Lótus’’, a estrela mais aclamada do país morre misteriosamente. Várias
        especulações começam a circular e inicia-se então uma investigação policial. Todos
        parecem suspeitos… Pistas ambíguas levam a becos sem saída e a dúvida fica: afinal,
        quem é o verdadeiro culpado?
    </p>
    
    <div class="pecaInfo"> 
      <p> <b> Turma: </b> P4 de Química </p>
      <p> <b> Diretora de Turma: </b>  Tainá Cesar Almeida </p>
      <p> <b> Direção Geral: </b> Anabel Lessa e Maria Clara Barbosa </p>
      <p> <b> Prêmios/ Colocação: </b> 5º Lugar - Melhor Peça; Melhor Atriz: Ingrid da Silva Barros.</p>
    </div>

    <table>

        <tr>
          <th> Personagem </th>
          <th> Ator/Atriz</th>
        </tr>

        <tr>
          <td> Orquídea </td>
          <td> Marina Torres Coelho</td>
        </tr>

        <tr>
          <td>Margarida</td>
          <td>Izadora Caetano Aquino</td>
        </tr>

        <tr>
            <td>Dália</td>
            <td>Ingrid da Silva Barros</td>
        </tr>

        <tr>
            <td>Repórter 1</td>
            <td>Eric Rullian da Silva Lima</td>
        </tr>

        <tr>
            <td>Repórter 2</td>
            <td>Pedro Henrique Serafim Rodrigues </td>
        </tr>

        <tr>
            <td>Félix</td>
            <td>João Pedro Pinheiro Bibiano </td>
        </tr>

        <tr>
            <td>Perita</td>
            <td>Ana Lara Barbosa Silva</td>
        </tr>

        <tr>
            <td>Detetive 1</td>
            <td>Manoel Vinicius Araújo dos Santos</td>
        </tr>

        <tr>
            <td>Detetive 2</td>
            <td>Tays Oliveira Andrade </td>
        </tr>

        <tr>
            <td>Segurança 1</td>
            <td>Inácio André Beviláqua Sales de Araújo </td>
        </tr>

        <tr>
            <td>Segurança 2</td>
            <td>Luan Henrique Ferreira do Nascimento</td>
        </tr>

        <tr>
            <td>Begônia</td>
            <td>Maria Clara Cipriano</td>
        </tr>

        <tr>
            <td>Rosa</td>
            <td>Maria Clara Messias </td>
        </tr>

        <tr>
            <td>Tulipa</td>
            <td>Amanda Luize Ramos Oliveira </td>
        </tr>

        <tr>
            <td>Camelian</td>
            <td>Lohana Kelria Castro Gomes </td>
        </tr>

        <tr>
            <td>Técnico em Química</td>
            <td>Lucas Ryan Mota </td>
        </tr>

      </table>

      <style>
        .avMedia{bottom:-1200px;}
        button{bottom: -1100px;}
        input{bottom: -1110px;}
     </style>
     
      
      <div class="avMedia"> 
        <p id="resultadoMedia"> </p>
        <p class="linha2"> Avaliação Média </p>
      </div>

      <form id="notaForm">
        <label for="notaLindas">Diga sua nota:</label>
        <input id="notaLindas" type="number" placeholder="Dê a sua nota"  min="0" max="10" required>
        <button type="submit">ENVIAR</button>
      </form>

      <script src="/javascripts/lindasmorrerbd.js"></script> 
      


      

  </body>

  </html>