<%- include('./partials/headerPeca') %>

  <p class="titulo"> Raízes da Ignorância </p>

    <a href="https://www.youtube.com/watch?v=gZmO_vE5LtM"> <img class="pecaimagem" src="/images/raizesdaignorancia.jpeg"> </a>
    
    <p class="sinopse"> 
        ⠀⠀Em pleno século XXI Gabriel, um homem desagradável, continua preso a
        sua caixa de preconceitos intermináveis. Felizmente, o destino tem uma maneira
        peculiar de lidar com aqueles que são cegados pelo ódio. De mãos atadas, Gabriel
        agora terá que passar por uma série de acontecimentos conflitantes, que se opõem
        a todos os seus estigmas. Será que ele será capaz de reconhecer as raízes de sua
        cólera irracional? Ou irá mais uma vez vestir a venda que lhe aprisiona em sua
        própria ignorância?
    </p>
    
    <div class="pecaInfo"> 
      <p> <b> Turma: </b> P2 de Química </p>
      <p> <b> Diretor de Turma: </b> Pedro Lucas de Medeiros </p>
      <p> <b> Direção Geral: </b> Markos Medeiros e Arthur Gabriel Oliveira Sena </p>
      <p> <b> Prêmios/ Colocação: </b> 4º Lugar - Melhor Peça; Melhor Diretor de Turma.</p>
    </div>

    <table>

        <tr>
          <th> Personagem </th>
          <th> Ator/Atriz</th>
        </tr>

        <tr>
          <td> Gabriel </td>
          <td> Eduardo Almeida Silva</td>
        </tr>

        <tr>
          <td>Guia / Chefe / mediador</td>
          <td>José Barboza Cunha</td>
        </tr>

        <tr>
            <td>Gabriel - Cientista</td>
            <td>Pedro Lucas De Medeiros</td>
        </tr>

        <tr>
            <td>Gabriela - Política</td>
            <td>Maria Eduarda Fonteles Silveira</td>
        </tr>

        <tr>
            <td>Gabriela - estrangeira</td>
            <td>Angelis Sofia Salazar Saquez</td>
        </tr>

        <tr>
            <td>Paramédica 1</td>
            <td>Maria Isabely Almeida da Silva</td>
        </tr>

        <tr>
            <td>Paramédica 2</td>
            <td>Camila Pereira da Silva</td>
        </tr>

        <tr>
            <td>Político 1</td>
            <td>Rian Vieira Sampaio</td>
        </tr>

        <tr>
            <td>Político 2</td>
            <td>Ângelo Antônio Rodrigues de Souza</td>
        </tr>

        <tr>
            <td>Ajudante 1</td>
            <td>Maitê Lyna Moreira da Costa</td>
        </tr>

        <tr>
            <td>Ajudante 2</td>
            <td>Líviane Lira Ribeiro</td>
        </tr>

        <tr>
            <td>Entrevistadora</td>
            <td>Ana Beatriz Gregório Gonçalves</td>
        </tr>

        <tr>
            <td>Italiana</td>
            <td>Evelyn Lima De Min</td>
        </tr>

        <tr>
            <td>Figurante</td>
            <td>Ana Vitoria Carvalho Lopes</td>
        </tr>

      </table>

      <style> .container{height: 1700px; margin-bottom: -150px;} </style>
      
      <div class="avMedia"> 
        <p class="linha2"> Avaliação Média </p>
      </div>

      <form>
        <label> Diga sua nota </label>
        <input id="notaRaizes" type="number" placeholder="Dê a sua nota">
      </form>

      <button>
        ENVIAR
      </button>


  </body>

  </html>