<%- include('./partials/headerPeca') %>

  <p class="titulo"> Sina </p>

    <a href="https://www.youtube.com/watch?v=nxn6X7gjwCI"> <img class="pecaimagem" src="/images/sina.jpg"> </a>
    
    <p class="sinopse"> 
        ⠀⠀“SINA” é uma emocionante adaptação da lenda da bailarina do Theatro José de Alencar, que morreu há décadas
        e assombra as pessoas com as suas possíveis aparições. A peça mergulha na jornada extraordinária de Cecília,
        uma talentosa bailarina, sua resiliência, paixão e capacidade de transformar desafios em triunfos. Através
        dos movimentos graciosos de Cecília, o espetáculo inspira o público a questionar preconceitos e a abraçar a
        beleza que surge quando nos permitimos transcender as fronteiras culturais e raciais. Afinal, o racismo é o
        veneno velado da sociedade.
    </p>
    
    
    <div class="pecaInfo"> 
        <p> <b> Turma: </b> P3 de Edificações </p>
        <p> <b> Diretores de Turma: </b> Alan Mateus de Almeida Queiroz e Marcley Barbosa da Silva Filho </p>
        <p> <b> Direção Geral: </b> Adney Pinheiro e Brena Deodato </p>
        <p> <b> Prêmios/ Colocação: </b> 3º Lugar - Melhor Peça.</p>
    </div>
  
    <style> .pecaInfo{left: 430px;} .pecaimagem{height:200px; width: 340px; left: 430px; } .sinopse{top: 150px;} </style>
    <table>

        <tr>
          <th> Personagem </th>
          <th> Ator/Atriz</th>
        </tr>

        <tr>
          <td> Cecília de Mariz </td>
          <td> Mirella Da Silva Rodrigues </td>
        </tr>

        <tr>
          <td>Isabel Nataraj</td>
          <td>Iasmim Braga Costa</td>
        </tr>

        <tr>
            <td>Álvaro</td>
            <td>Lucas Gabriel Silva Lúcio</td>
        </tr>

        <tr>
            <td>Álvaro</td>
            <td>Francisco Jeová Teixeira Matias Neto</td>
        </tr>

        <tr>
            <td>José Martiniano de Alenca</td>
            <td>Carlos Gabriel Clementino Soares</td>
        </tr>

        <tr>
            <td>Ana Josefina</td>
            <td>Pérola Beatriz da Costa Ramos</td>
        </tr>

        <tr>
            <td>Carolina Camargo</td>
            <td>Alana Késsia Bandeira Cavalcante </td>
        </tr>

        <tr>
            <td>Isaac Araquém</td>
            <td>Marcley Barbosa da Silva Filho</td>
        </tr>

        <tr>
            <td>Valentina Camargo</td>
            <td>Iasmin Lopes Barreto</td>
        </tr>

        <tr>
            <td>Odette Nataraj</td>
            <td>Maria Cândida Rodrigues Lima</td>
        </tr>

        <tr>
            <td>Dona Amália/Bailarina 1</td>
            <td>Mikely Amorim Melo</td>
        </tr>

        <tr>
            <td>Bailarina 2</td>
            <td>Maria Nicoly Lima Ramos</td>
        </tr>

        <tr>
            <td>Bailarina 3</td>
            <td>Ana Suzany Lourenço Barros</td>
        </tr>

        <tr>
            <td>Bailarina 4</td>
            <td>Dayane Kelly Guilhermino Ferreira</td>
        </tr>

        <tr>
            <td>Bailarina 5</td>
            <td>Caroline Lima Silva</td>
        </tr>

        <tr>
            <td> Zelador 1 </td>
            <td>Marcelo Augusto do Nascimento Ferreira</td>
        </tr>

        <tr>
            <td> Augusto</td>
            <td>Guilherme Caetano dos Santos</td>
        </tr>

        <tr>
            <td>Segurança </td>
            <td>Maria Clara Azevedo dos Santos</td>
        </tr>

      </table>

      <style> .container{height: 1800px; margin-bottom: -150px;} .avMedia{bottom:-1200px;} </style>
    
      <div class="avMedia"> 
        <p class="linha2"> Avaliação Média </p>
      </div>

      <form>
        <label> Diga sua nota </label>
        <input id="notaSina" type="number" placeholder="Dê a sua nota">
      </form>

      <button>
        ENVIAR
      </button>

  </body>

  </html>