@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: rgb(34, 34, 34);
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFCBD;
    position: absolute;
    width: 78%;
    left: 20%;
    height: 1.5%;
    top: 0px;
    padding: 1.0%;
}


a {
    color: black;
    font-weight: 600;
    font-size: 1vw;
    text-decoration: none;
}

.container {
    position: fixed;
    padding: 4% 3%;
    width: 17%;
    height: 300vh;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF6A6A;
    z-index: 2;
}


.peca {
    font-size: 1.2vw;;
    color: black;
    margin-top: 20px;
    z-index: 1;
}

.peca:hover {
    color: rgb(189, 15, 15);
    transition: 1s;
}

.itemMenu {
    position: absolute;
    right: 30px;
    font-size: 1.05vw;
    top: -2px;
    font-weight: 600;
    color: #b38c00;
}

h1 {
    font-weight: 800;
    font-size: 6vh;
    margin-top: -30%;
    margin-bottom: 5%;
}

.confira{
    position: absolute;
    left: 530px;
    top: 650px;
    font-size: 60px;
    color: rgb(236, 236, 231);
}

.linha {
    background-color: #7e0000;
    top: 10%;
    width: 130%;
    height: 0.1%;
    z-index: 2;
}

.linha2 {
    color: beige;
    position: relative;
    background-color: rgba(245, 245, 220, 0.863);
    margin-top: -70px;
    margin-bottom: 100px;
    width: 200px;
    height: 2px;
    font-size: 2.5vh;
}


.titulo{
    position: absolute;
    top: 5px;
    left: 27%;
    font-size: 4.5vw;
    color:beige;
}

.pecaimagem{
    height: 35%;
    width: 29%;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    left: 27%;
    top: 27%;
}

.fotospeca{
    position: absolute;
    top: 8%;
    left: 95%;
    font-size: 4.5vw;
    color:beige;
    width: 2.8%;
}

.sinopse{
    color:beige;
    width:  40%;
    height: 23%;
    font-size: 1.3vw;
    font-family: "Work Sans", sans-serif;
    text-align: justify;
    position: absolute;
    left: 58.5%;
    top: 27%;
}

.pecaInfo{
    color: beige;
    font-size: 1.3vw;
    position: absolute;
    left: 27%;
    top: 65%;
}

table {
    border-collapse: collapse;
    position: absolute;
    top: 95%;
}

table, th,td, tr {
  font-family: "Work Sans", sans-serif;
  color: beige;
  padding: 2%;
  border: 0.5px solid rgb(214, 214, 214);
  left: 33%;
  width: 57%;
  text-align: center;
  margin-bottom: 50%;
  font-size: 1.2vw;
}

th{
    background-color: black;
}

input{
    position: absolute;
    left: 70%;
    bottom: -1410px;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color:rgb(66, 66, 66);
    color:beige;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

BUTTON{
    position: absolute;
    left: 85%;
    bottom: -1390px;
    border-radius: 15px;
    padding: 5px;
    font-family: "Work Sans", sans-serif;
    background-color: #FF6A6A;
}

.avMedia{
  position: absolute;
  right: 45%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

#resultadoMedia{
    position: absolute;
    color: beige;
    left: 34%;
    font-size: 4vh;
    text-align: center;
    width: 5%;
    bottom: 80px;
} 


