@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: rgb(34, 34, 34);
    font-family: "Work Sans", sans-serif;
}

header {
    background-color: #FFFCBD;
    position: absolute;
    width: 930px;
    left: 378.3px;
    height: -10px;
    top: 0px;
    padding: 20px;
    color: #DDAC00;
}

a {
    color: black;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
}

.container {
    position: relative;
    padding: 60px;
    width: 250px;
    height: 300vh;
    margin-top: -10px;
    margin-bottom: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF6A6A;
    z-index: 2;
}

.confira{
    position: absolute;
    left: 530px;
    top: 300px;
    font-size: 60px;
    color: rgb(236, 236, 231);
}

.peca {
    font-size: 15px;
    color: black;
    margin-top: 20px;
    z-index: 1;
}

.peca:hover {
    color: rgb(189, 15, 15);
    transition: 1s;
}

.itemMenu {
    position: absolute;
    right: 30px;
    font-size: 15px;
    top: -2px;
    font-weight: 600;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    margin-top: -50px;
    margin-bottom: 80px;
}

.linha {
    background-color: #7e0000;
    margin-top: -70px;
    width: 370px;
    height: 2px;
}

.linha2 {
    color: beige;
    background-color: rgba(245, 245, 220, 0.863);
    margin-top: -70px;
    width: 200px;
    height: 2px;
}


.titulo{
    position: absolute;
    top: -5px;
    left: 420px;
    font-size: 60px;
    color:beige;
}

.pecaimagem{
    height: 180px;
    width: 300px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    left: 450px;
    top: 170px;
}

.sinopse{
    color:beige;
    width:  490px;
    height: 400px;
    font-size: 17px;
    font-family: "Work Sans", sans-serif;
    text-align: justify;
    position: absolute;
    left: 800px;
    top: 160px;
}

.pecaInfo{
    color: beige;
    font-size: 18px;
    position: absolute;
    left: 450px;
    top: 400px;
}

table {
    border-collapse: collapse;
    position: absolute;
    top: 630px;
}

table, th,td, tr {
  font-family: "Work Sans", sans-serif;
  color: beige;
  padding: 15px;
  border: 0.5px solid rgb(214, 214, 214);
  left: 450px;
  width: 800px;
  text-align: center;
}

th{
    background-color: black;
}

input{
    position: relative;
    left: 800px;
    bottom: 60px;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color:rgb(66, 66, 66);
    color:beige;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

BUTTON{
    position: relative;
    left: 1100px;
    bottom: 100px;
    border-radius: 15px;
    padding: 5px;
    font-family: "Work Sans", sans-serif;
    background-color: #FF6A6A;
}

.avMedia{
  position: absolute;
  right: 600px;
  bottom: -1070px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

